/* Default settings for all browsers ... */
ul, ol { list-style:none; }
img, hr { border: none; }
h1,h2,h3,h4,h5,h6,p,span,a,li,form {
	color: #aaa;
}

/* General settings */
body {
	background-image:url(images/bckg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	font-family:monospace;
	margin: 0;
	padding: 0;
}

#wrapper {
	background: rgba(5, 5, 5, .75);
	border: 4px solid #000;
	width: 1000px;
	margin: 0 auto;
	margin-top: 15px;
	padding: 0;
	padding-bottom: 30px;

	position: relative;
	min-height: 100%;
}

h1 {
	margin-left: 10px;
}
#header {
    padding-top:1;
    margin-top:0px;
    height:400px;
    background-image:url(images/header.jpg);
}
#header h1{
    color:#afffaf;
    opacity:0.1;
	width:200px;
}
#header p {
	position: relative;
	z-index: 1;

	float: right;
	margin-top: -35px;
	margin-left: 30px;
	margin-right: 30px;
	color:acacac;
}
#header a:hover {
	color: acacac;
	cursor: pointer;
}

#nav {
	border-top: 1px solid #3b4f3b;
	border-bottom: 1px solid #3b4f3b;
	background:#000;
}
#nav ul {
	padding: 0;
	margin: 0;

	float: left:
}
#nav ul li {
	display: inline;
}
#nav ul li a {
	text-decoration: none;
	padding: 10px;
	color:fff;
}
#nav ul li:hover a {
	color: acacac;
	cursor: pointer;
}

#content {
	margin-left: 30px;
	margin-right: 30px;
	clear: both;

	padding-bottom: 50px;
}
#content h2 {
	margin-left: -10px;
}

#footer {
	height: 30px;
	width: 100%;

	position: absolute;
	bottom: 0;
	left: 0;

	border-top: 1px solid #3b4f3b;
}
#footer p {
	font-size: 10px;
	float: right;
}

/* Error, info and success display */
.error {
	padding: 7px 10px;
	margin: 5px 0px;
	border: 1px solid #000;
	color: #ea0016;
	display: block;
}
.info {
	padding: 7px 10px;
	margin: 5px 0px;
	border: 1px solid #000;
}
.success {
	padding: 7px 10px;
	margin: 5px 0px;
	border: 1px solid #000;
	color: green;
}
