/* Default settings for all browsers ... */
ul, ol { list-style:none; }
img, hr { border: none; }
h1,h2,h3,h4,h5,h6,p,span,a,li,form {
	color: #aaa;
}

/* General settings */
body {
	background-image:url(images/bckg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center; 
	font-family:monospace;
	margin: 0;
	padding: 0;
}

#wrapper {
	background: rgba(5, 5, 5, .75);
	<!--[if IE]>
        background:transparent;
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#75050505,endColorstr=#75050505);
        zoom: 1;
	<![endif]-->
	border: 4px solid #000;
	width: 1000px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom:15px;
	padding: 0;
	padding-bottom: 30px;

	position: relative;
	min-height: 100%;
}

h1,h2 {
	font-family: _rockwell_;
}
p {
	font-family: Questrial;
	font-size: 14px;
}
a:hover {
	cursor: pointer;
	color: #f22;
}

#header {
    padding-top:1;
    margin-top:0px;
    height:400px;
    background-image:url(images/header.jpg);
}
#header h1{
    	color:#121a12;
	width:200px;
}
#header p {
	position: relative;
	z-index: 1;

	float: right;
	margin-top: -35px;
	margin-left: 30px;
	margin-right: 30px;
	color: #acacac;
}
#header a:hover {
	cursor: pointer;
}

#nav {
	border-top: 1px solid #3b4f3b;
	border-bottom: 1px solid #3b4f3b;
	padding: 5px;
	background:#000;
}
#nav ul {
	padding: 0;
	margin: 0;

	float: left:
}
#nav ul li {
	display: inline;
}
#nav ul li a {
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	color: #acacac;
}
#nav ul li:hover a {
	color: #f22;
	cursor: pointer;
}
#nav ul li a.selected {
	border-bottom: 1px solid #f22;
	color: #f22;
}

#content {
	margin-left: 30px;
	margin-right: 30px;
	clear: both;

	padding-bottom: 50px;
}
#content h2 {
	margin-left: -10px;
}

#footer {
	height: 30px;
	width: 100%;

	position: absolute;
	bottom: 0;
	left: 0;

	border-top: 1px solid #3b4f3b;
}
#footer p {
	font-size: 10px;
	float: right;
	margin-right:10px;
}

/* Error, info and success flash messages */
.error {
	padding: 7px 10px;
	margin: 5px 0px;
	border: 1px solid #3b4f3b;
	color: #ea0016;
}
.info {
	padding: 7px 10px;
	margin: 5px 0px;
	border: 1px solid #3b4f3b;
	color: #e5e5e5;
}
.success {
	padding: 7px 10px;
	margin: 5px 0px;
	border: 1px solid #3b4f3b;
	color: green;
}

/* Fonts */
@font-face {
  	font-family: 'Questrial';
	font-style: normal;
  	font-weight: 400;
	src: local('Questrial'), local('Questrial-Regular'), url(http://themes.googleusercontent.com/static/fonts/questrial/v3/MYWJ4lYm5dbZ1UBuYox79D8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: '_rockwell_';
	font-style: normal;
	font-weight: 400;
	src: local('Rockwell'), url(fonts/rockwell.ttf);
}

