{% extends "main/base.html" %}
{% load staticfiles %}  

{% block info %}
    {% if messages %}
        {% for message in messages %}
        <section id="messages" class="container main group border-box {{ message.tags }}">
            <p class="message-info">{{ message }} </p>
        {% endfor %}
        </section>
    {% endif %}
{% endblock %}

{% block content %}
{% if question.title %}
    <h1><img src="{% static 'main/img/ast.png' %}">{{ question.title }}<img src="{% static 'main/img/ast.png' %}"></h1>
{% endif %}

{{ question.question|safe }}

{% if hints %}
    <ul>
    {% for h in hints %}
        <li>hint: {{ h.hint}} </li>
    {% endfor %}
    </ul>
{% endif %}

{% if question %}
    <form action="/game/" method="post">
        {% csrf_token %}
        <input class="user-answer" name="user-answer" type="text">
        <input class="button" type="submit" value="Svara">
    </form>
{% endif %}

{% endblock %}

{% block nav %}
    <li><a href="/">Startsida</a></li>
    <li><a href="/rules">Regler & info</a></li>
    <li><a class="selected" href="#game">Spela här</a></li>
    <li><a href="/tutorial">Tutorial</a></li>
    {% if user.is_authenticated %}
    <li><a href="/profile">Profil</a></li>
    {% endif %}
    <li><a href="/old">Gamla games</a></li>
    {% if user.is_superuser %}
        <li><a href="/admin">Admin</a></li>
    {% endif %}
{% endblock %}
